<!-- app/views/campaigns/_form.html.erb -->
<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
        <% campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_local_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_local_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Campaign.statuses.keys.map { |status| [status.humanize, status] } %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.fields_for :discount do |discount_fields| %>
      <%= discount_fields.label :discount_type %>
      <%= discount_fields.select :discount_type, Campaign::DISCOUNT_TYPES %>
    </div>

    <div class="field">
      <%= discount_fields.label :discount_value %>
      <%= discount_fields.number_field :discount_value, step: 'any' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
