<h1>All Campaigns</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Original Price</th>
      <th>Discounted Price</th>
      <th>Status</th>
      <th>Image</th> <!-- Adicionando uma nova coluna para a imagem -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.title %></td>
        <td><%= campaign.description %></td>
        <td><%= campaign.product.price %></td>
        <td><%= campaign.discounted_price %></td>
        <td><%= campaign.calculated_status %></td>
        <td>
          <% if campaign.image.attached? %> <!-- Verificando se a imagem está anexada à campanha -->
            <%= image_tag campaign.image, class: "img-thumbnail", style: "max-width: 100px; max-height: 100px;" %>
          <% else %>
            No Image <!-- Mensagem de fallback caso não haja imagem -->
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_campaign_path(campaign), class: "btn btn-primary btn-sm" %>
          <%= link_to 'View', campaign_path(campaign), class: "btn btn-info btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Campaign', new_campaign_path, class: "btn btn-success" %>
