<div class="container d-flex justify-content-center">
  <div class="card col-md-8">
    <div class="card-body">
      <%= form_for @campaign, html: { class: "row g-3" } do |form| %>
        <!-- Campos para a campanha -->

        <div class="col-md-6">
          <%= form.label :title, "Title", class: "form-label" %>
          <%= form.text_field :title, class: "form-control", placeholder: "Enter title" %>
        </div>

        <div class="col-md-6">
          <%= form.label :description, "Description", class: "form-label" %>
          <%= form.text_area :description, class: "form-control", placeholder: "Enter description" %>
        </div>

        <div class="col-md-6">
          <%= form.label :start_date, "Start Date", class: "form-label" %>
          <%= form.date_field :start_date, class: "form-control" %>
        </div>

        <div class="col-md-6">
          <%= form.label :end_date, "End Date", class: "form-label" %>
          <%= form.date_field :end_date, class: "form-control" %>
        </div>

        <div class="col-md-6">
          <%= form.label :product_id, "Product", class: "form-label" %>
          <%= form.collection_select :product_id, @products, :id, :name, { prompt: "Select a product" }, class: "form-select" %>
        </div>

        <div class="col-md-6">
          <%= form.label :status, "Status", class: "form-label" %>
          <%= form.select :status, Campaign.statuses.keys.map { |status| [status.humanize, status] }, { prompt: "Select a status" }, class: "form-select" %>
        </div>

        <!-- Formulário de criação de desconto -->
        <div class="col-md-6">
          <%= form.fields_for :discount_attributes, @campaign.discount || @campaign.build_discount do |discount_form| %>
            <%= discount_form.label :discount_type, "Discount Type", class: "form-label" %>
            <%= discount_form.select :discount_type, [['De', 'De'], ['Por', 'Por']], { prompt: "Select a discount type" }, class: "form-select" %>

            <%= discount_form.label :discount_value, "Discount Value", class: "form-label" %>
            <%= discount_form.number_field :discount_value, class: "form-control", placeholder: "Enter discount value" %>
          <% end %>
        </div>

        <div class="col-12">
          <%= form.submit "Create Campaign", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
