<!-- app/views/campaigns/show.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h2>Detalhes da Campanha</h2>
          <ul>
            <li>
              <strong>Produto:</strong> <%= @product.name %><br>
              <strong>Data de Início:</strong> <%= @campaign.start_date.strftime("%d/%m/%Y") %><br>
              <strong>Data de Término:</strong> <%= @campaign.end_date.strftime("%d/%m/%Y") %><br>
              <strong>Preço Original:</strong> <%= number_to_currency(@product.price) %><br>
              <strong>Preço com Desconto:</strong> <%= number_to_currency(@discounted_price) %><br>
              <strong>Status:</strong> <%= @status %><br>
              <strong>Criado por:</strong> <%= @user.email %><br>
              <strong>Data de Criação:</strong> <%= @created_at.strftime("%d/%m/%Y, %H:%M") %><br>
            </li>
          </ul>

          <% if @discount %>
            <h2>Histórico de Desconto</h2>
            <ul>
              <% @campaign_histories.each do |history| %>
                <li>
                  <strong>Data/Hora:</strong> <%= history.data_hora.strftime("%d/%m/%Y, %H:%M") %><br>
                  <strong>Descrição da Mudança:</strong> <%= history.change_description %><br>
                  <strong>Usuário:</strong> <%= history.user.email %><br>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= link_to 'Editar', edit_campaign_path(@campaign), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Voltar', campaigns_path, class: "btn btn-secondary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>

