<h1>Detalhes da Campanha</h1>

<div class="row">
  <div class="col-md-4">
    <% if @campaign.image.attached? %>
      <%= image_tag url_for(@campaign.image), class: "img-thumbnail" %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </div>

  <div class="col-md-8">
    <p>
      <strong>Produto:</strong>
      <%= @campaign.title %>
    </p>

    <p>
      <strong>Descriçao:</strong>
      <%= @campaign.description %>
    </p>

    <p>
      <strong>Preço original:</strong>
      <%= @original_price %>
    </p>

    <p>
      <strong>Preço com Desconto:</strong>
      <%= @discounted_price %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @status %>
    </p>

    <p>
      <strong>Criado Por::</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Data/hora:</strong>
      <%= @created_at.strftime("%d/%m/%Y, %H:%M") %>
    </p>

    <%= link_to 'Edit', edit_campaign_path(@campaign), class: "btn btn-primary" %>

    <!-- Formulário para excluir a campanha -->
    <%= form_for @campaign, method: :delete, html: { class: "d-inline" } do |f| %>
      <%= f.submit 'Delete', data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>

    <%= link_to 'Back', campaigns_path, class: "btn btn-secondary" %>
  </div>
</div>
