<h1>Histórico de Descontos</h1>

<div class="row">
  <div class="col-md-4">
    <% if @campaign.image.attached? %>
      <%= image_tag url_for(@campaign.image), class: "img-thumbnail" %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </div>

  <div class="col-md-8">
    <p>
      <strong>Preço original:</strong>
      <%= @original_price %>
    </p>

    <p>
      <strong>Preço com Desconto:</strong>
      <%= @discounted_price %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @status %>
    </p>

    <p>
      <strong>Criado Por::</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Data/hora:</strong>
      <%= @created_at.strftime("%d/%m/%Y, %H:%M") %>
    </p>

    <!-- Link "Voltar" estilizado como sublinhado -->
    <%= link_to 'Voltar', campaigns_path, class: "link" %>
  </div>
</div>
