
<h1>Detalhes da Campanha</h1>

<%= render partial: 'campaigns/campaign_details', locals: { campaign: @campaign } %>

<!-- Histórico de Descontos -->
<h2>Histórico de Descontos</h2>
<ul>
  <% @campaign.discounts.each do |discount| %>
    <li>
      <strong>Data/Hora:</strong> <%= discount.created_at.strftime("%d/%m/%Y, %H:%M") %><br>
      <strong>Usuário:</strong> <%= discount.user.email %><br>
      <strong>Tipo de Desconto:</strong> <%= discount.discount_type %><br>
      <strong>Valor do Desconto:</strong> <%= discount.discount_value %><br>
    </li>
  <% end %>
</ul>

<%= link_to 'Voltar', campaigns_path, class: "link" %>
