
<!-- app/views/campaigns/show.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-light">
        <div class="card-body">
          <h2>Detalhes da Campanha</h2>
          <ul>
            <li>
              <strong>Produto:</strong> <%= @campaign.product.name %><br>
              <strong>Descrição:</strong> <%= @campaign.description %><br>
              <strong>Preço Original:</strong> <%= number_to_currency(@campaign.original_price) %><br>
              <strong>Preço com Desconto:</strong> <%= number_to_currency(@campaign.discounted_price, precision: 4) %><br>
              <strong>Status:</strong> <%= @campaign.calculated_status %><br>
              <strong>Data de Início:</strong> <%= l(@campaign.start_date) %><br>
              <strong>Data de Término:</strong> <%= l(@campaign.end_date) %><br>
              <strong>Criado por:</strong> <%= @campaign.user.email %><br>
              <strong>Data de Criação:</strong> <%= l(@campaign.created_at, format: "%d/%m/%Y, %H:%M") %><br>
            </li>
          </ul>

          <% if @campaign.discount %>
            <h2>Histórico de Desconto</h2>
            <ul>
              <% @campaign.campaign_histories.each do |history| %>
                <li>
                  <strong>Data/Hora:</strong> <%= l(history.data_hora, format: "%d/%m/%Y, %H:%M") %><br>
                  <strong>Descrição da Mudança:</strong> <%= history.change_description %><br>
                  <strong>Usuário:</strong> <%= history.user.email %><br>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= link_to 'Editar', edit_campaign_path(@campaign), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Voltar', campaigns_path, class: "btn btn-secondary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>
